@model IEnumerable<PIXY.Models.PurchasedItemVM>

@{
    ViewData["Title"] = "Purchased Item";
}

<h1>Purchased Item</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHardcopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfHardcopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHardcopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfHardcopy)
            </td>
             <td>
                 <img src="@Html.DisplayFor(modelItem => item.FilePath)" width="900" height="600">
             </td>
        </tr>
}
    </tbody>
</table>
