@model IEnumerable<PIXY.Models.CartVM>
@{
    Double TotalPrice = 0.0;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsHardcopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfHardcopy)
            </th>
            <th></th>
            <th> @Html.DisplayNameFor(model => model.Price)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHardcopy)
                </td>
                <td>
                    <input="text" value="@Html.DisplayFor(modelItem => item.NoOfHardcopy)">
                </td>
                <td><img src="@Html.DisplayFor(modelItem => item.FilePathWatermark)" width="900" height="600"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="/Carts/removefromcart?Id=@Html.DisplayFor(modelItem => item.ID)" type="button">Remove</a>
                </td>
            </tr>
            
             TotalPrice += item.Price;
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                TotalPrice: @TotalPrice
            </td>
        </tr>
    </tbody>
</table>