@model IEnumerable<PIXY.Models.CartVM>
@{
    Double TotalPrice = 0.0;
    Double HardCopyPrice = 5.0;
}

<div><font color="red">Hardcopy $ @HardCopyPrice each</font></div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfHardcopy)
            </th>
            <th> @Html.DisplayNameFor(model => model.Price)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.FilePathWatermark)" target="_blank" rel="noopener noreferrer">
                        <img src="@Html.DisplayFor(modelItem => item.FilePathWatermark)" width="900" height="600">
                    </a>
                </td>
                <td>
                    <input id=@item.NoOfHardcopy type="text" name="SelectedImage" value=@item.NoOfHardcopy class="w3-check" readonly="readonly" width="100" />
                    <input type="button" onclick="location.href='/Carts/ChangeNoOfHardCopy?Id=@Html.DisplayFor(modelItem => item.ID)&IsAdd=1'" value="+" width="50" />
                    @if (item.NoOfHardcopy > 0)
                    {
                        <input type="button" onclick="location.href='/Carts/ChangeNoOfHardCopy?Id=@Html.DisplayFor(modelItem => item.ID)&IsAdd=0'" value="-" width="50" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="/Carts/removefromcart?Id=@Html.DisplayFor(modelItem => item.ID)" type="button">Remove</a>
                </td>
            </tr>

            TotalPrice += item.Price;
            TotalPrice += HardCopyPrice * item.NoOfHardcopy;
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                TotalPrice: @TotalPrice
            </td>
        </tr>
    </tbody>
</table>
