@model PIXY.Models.ImagesCategoryView

@{
    ViewData["Title"] = "Home";
}

<form asp-controller="Images" asp-action="Index" method="get">
 
    <p>
        <select asp-for="ImageCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Tag: <input type="text" name="SearchString" value="@Html.DisplayFor(model => model.SearchTags)" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].CategoryDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].AuthorName)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].HaveHardcopy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ImagesVM!) {
        <tr>

            <td>
               @Html.DisplayFor(modelItem => item.CategoryDesc)
            </td>

            <td>
               @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
             @if (item.IsPurchased == false)
             {
                <img src="@Html.DisplayFor(modelItem => item.FilePathWatermark)" width="900" height="600">
             }
             else
            {
               <img src="@Html.DisplayFor(modelItem => item.FilePath)" width="900" height="600">
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaveHardcopy)
            </td>
            <td>
              @if (item.IsPurchased==false)
                    {
                        if (item.IsInCart == false) {
                            <a href="/Carts/addtocart?ImageId=@Html.DisplayFor(modelItem => item.ID)" type="button">Add to cart</a>
                        }
                        else
                        {
                            <span>Added in Cart</span>
                            <a href="/Carts/RemoveFromCartByImageId?ImageId=@Html.DisplayFor(modelItem => item.ID)" type="button">Remove</a>
                        }
                    }
                    else
                    {
                        <span>Purchased</span>
                    }
             </td>

        </tr>
}
    </tbody>
</table>
