@model PIXY.Models.ImagesCategoryView

@{
    ViewData["Title"] = "Home";
}

<form asp-controller="Images" asp-action="Index" method="get">
 
    <p>
        <select asp-for="ImageCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Tag: <input type="text" name="SearchString" value="@Html.DisplayFor(model => model.SearchTags)" />
        <input type="submit" value="Filter" />
    </p>
</form>

<!-- Paging Feature -->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-ImageCategory="@Model.ImageCategory"
   asp-route-SearchString="@Model.SearchTags"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-ImageCategory="@Model.ImageCategory"
   asp-route-SearchString="@Model.SearchTags"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<!-- Paging Feature -->

<table class="table">
    <thead>
        <tr class="Names">
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].CategoryDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].ImageTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].AuthorName)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesVM![0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ImagesVM!) {
        <tr class="Names-1">

            <td>
               @Html.DisplayFor(modelItem => item.CategoryDesc)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.ImageTags)
             </td>
            <td>
               @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td class="product">
             @if (item.IsPurchased == false)
             {
                <a href="@Html.DisplayFor(modelItem => item.FilePathWatermark)" target="_blank" rel="noopener noreferrer"><img src="@Html.DisplayFor(modelItem => item.FilePathWatermark)"></a>
             }
             else
            {
               <a href="@Html.DisplayFor(modelItem => item.FilePath)" target="_blank" rel="noopener noreferrer"><img src="@Html.DisplayFor(modelItem => item.FilePath)"></a>
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
              @if (item.IsPurchased==false)
                    {
                        if (item.IsInCart == false) {
                            <br />
                            <a href="/Carts/addtocart?ImageId=@Html.DisplayFor(modelItem => item.ID)" type="button" class="btn-place-bid">Add</a>
                        }
                        else
                        {
                            <span>Added in Cart</span>
                            <br />
                            <br />
                            <a href="/Carts/RemoveFromCartByImageId?ImageId=@Html.DisplayFor(modelItem => item.ID)" type="button" class="btn-place-bid">Remove</a>
                        }
                    }
                    else
                    {
                        <span>Purchased</span>
                        <br />
                        <br />
                        <a href="/Images/DownLoadZip?ImageId=@Html.DisplayFor(modelItem => item.ID)" type="button" class="btn-place-bid">Download</a>
                    }
             </td>

        </tr>
}
    </tbody>
</table>
<!-- Paging Feature -->
<a asp-action="Index"
   asp-route-ImageCategory="@Model.ImageCategory"
   asp-route-SearchString="@Model.SearchTags"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-ImageCategory="@Model.ImageCategory"
   asp-route-SearchString="@Model.SearchTags"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<!-- Paging Feature -->